/*body{*/
	/*background-image:url( michal-kubalczyk-WecngmAT-KY-unsplash.jpg);*/
	/*background-size: cover;*/

body
{
	background-image:url( michal-kubalczyk-WecngmAT-KY-unsplash.jpg);
 	background-size: cover;

}

h3{
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-align: center;
	margin: 250px
}
.btn-danger{
	background-color: #FF6060;
	text-align: center;
	height: 100%;
	width:200px;
	margin:-500px 0px -390px;
	font-style: bold;
	border-radius: 20px;
	
}
#container{
	text-align: center;
}
.btn-danger:hover{
	background-color: green;
}

